---
import {
  CONSOLE_DATE,
  CONSOLE_PROMPT,
  CONSOLE_PWD,
  CONSOLE_USER,
} from "../consts";
---

<header>
  <nav>
    <h2>
      <a href="/blog">
        <div>
          <span class="console-user">{CONSOLE_USER}</span>
          <span class="console-pwd">{CONSOLE_PWD}</span>
          <span class="console-date">{CONSOLE_DATE}</span>
        </div>
        <div>
          <span class="console-prompt">{CONSOLE_PROMPT}</span>
          <div class="console-cursor blink-smooth"></div>
        </div>
      </a>
    </h2>
    <div class="internal-links">
      <!-- <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink> -->
    </div>
    <div class="social-links">
      <a href="https://alexwilliams.site" target="_blank">
        <span class="sr-only">My Website</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 2048 2048"
        >
          <path
            fill="currentColor"
            d="M1024 0q141 0 272 36t245 103t207 160t160 208t103 245t37 272q0 141-36 272t-103 245t-160 207t-208 160t-245 103t-272 37q-141 0-272-36t-245-103t-207-160t-160-208t-103-244t-37-273q0-141 36-272t103-245t160-207t208-160T751 37t273-37m0 1920q123 0 237-32t214-90t182-141t140-181t91-214t32-238q0-123-32-237t-90-214t-141-182t-181-140t-214-91t-238-32q-123 0-237 32t-214 90t-182 141t-140 181t-91 214t-32 238q0 123 32 237t90 214t141 182t181 140t214 91t238 32m597-880l48-144h75l-85 256h-75l-48-144l-48 144h-75l-85-256h75l48 144l48-144h74zm-464-144h75l-85 256h-75l-48-144l-48 144h-75l-85-256h75l48 144l48-144h74l48 144zm-512 0h75l-85 256h-75l-48-144l-48 144h-75l-85-256h75l48 144l48-144h74l48 144z"
          ></path>
        </svg>
      </a>
      <a href="https://portfolio.alexwilliams.site" target="_blank">
        <span class="sr-only">My App Portfolio</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 48 48"
          ><path
            fill="#000"
            fill-rule="evenodd"
            d="M24 1c-5.922 0-10.198.167-13.03.339c-3.498.212-6.325 2.839-6.618 6.407C4.164 10.032 4 13.246 4 17.5c0 5.39.263 9.313.503 11.769c-.7.09-1.423.351-2.046.852c-.78.628-1.282 1.54-1.395 2.619Q1 33.3 1 34c-.001.7.022.886.062 1.26c.113 1.08.614 1.991 1.395 2.62c.747.6 1.64.855 2.461.886c.657.025 1.553.053 2.737.082l-1.891 3.8c-.82 1.647.037 3.93 2.194 4.217c1.867.249 3.629.105 4.723-.043c1.324-.178 2.4-.931 3.099-1.883l2.867-3.905c.109 1.151.209 2.13.28 2.801c.129 1.222.946 2.68 2.665 2.985c.596.105 1.38.18 2.409.18s1.813-.075 2.41-.18c1.718-.305 2.535-1.763 2.664-2.985c.07-.67.171-1.649.28-2.8l2.866 3.904c.698.952 1.774 1.705 3.098 1.883c1.095.148 2.856.292 4.723.043c2.157-.286 3.015-2.57 2.195-4.217l-1.891-3.8c1.183-.029 2.079-.057 2.736-.082c.82-.03 1.714-.286 2.461-.887c.78-.627 1.282-1.54 1.395-2.619Q47 34.7 47 34c.001-.7-.022-.886-.062-1.26c-.113-1.08-.615-1.991-1.395-2.62a4.1 4.1 0 0 0-2.046-.851c.24-2.456.503-6.38.503-11.769c0-4.254-.164-7.468-.352-9.754c-.293-3.568-3.12-6.195-6.618-6.407C34.198 1.167 29.922 1 24 1m11.918 37.93q-1.417.019-3.121.034l2.648 3.608c.15.205.31.273.409.286c.556.075 1.288.143 2.09.142zm-13.062 4.024A252 252 0 0 1 22.478 39h3.046a241 241 0 0 1-.379 3.955c-.299.027-.676.047-1.144.047s-.845-.02-1.145-.047m-7.652-3.99c-1.138-.01-2.176-.022-3.122-.035L10.056 43c.802.001 1.534-.067 2.09-.142c.1-.013.258-.08.41-.286zm-4.274-9.876q-1.349.021-2.42.044C8.275 26.832 8 22.954 8 17.5c0-4.152.16-7.256.339-9.426c.124-1.51 1.285-2.646 2.873-2.742C13.958 5.165 18.153 5 24 5s10.042.165 12.788.332c1.588.096 2.75 1.232 2.874 2.742c.178 2.17.338 5.274.338 9.426q-.001 2.227-.055 4.104c-3.867-3.61-6.683-5.53-8.45-6.533a5 5 0 0 0-4.99 0c-1.945 1.104-5.163 3.321-9.656 7.682c-2.556 2.48-4.483 4.602-5.92 6.334M11 13a5 5 0 1 1 10 0a5 5 0 0 1-10 0m13 20c-11.075 0-16.601.144-18.932.231l-.036.003Q5.001 33.548 5 34q.002.452.032.766l.036.003C7.398 34.856 12.925 35 24 35s16.602-.144 18.932-.231l.036-.003q.031-.314.032-.766q-.002-.452-.032-.766l-.036-.003C40.602 33.144 35.075 33 24 33"
            clip-rule="evenodd"></path></svg
        >
      </a>
      <a href="https://bsky.app/profile/adubbbz.bsky.social" target="_blank">
        <span class="sr-only">Find me on Bluesky</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 256 226"
          ><path
            fill="#1185fe"
            d="M55.491 15.172c29.35 22.035 60.917 66.712 72.509 90.686c11.592-23.974 43.159-68.651 72.509-90.686C221.686-.727 256-13.028 256 26.116c0 7.818-4.482 65.674-7.111 75.068c-9.138 32.654-42.436 40.983-72.057 35.942c51.775 8.812 64.946 38 36.501 67.187c-54.021 55.433-77.644-13.908-83.696-31.676c-1.11-3.257-1.63-4.78-1.637-3.485c-.008-1.296-.527.228-1.637 3.485c-6.052 17.768-29.675 87.11-83.696 31.676c-28.445-29.187-15.274-58.375 36.5-67.187c-29.62 5.041-62.918-3.288-72.056-35.942C4.482 91.79 0 33.934 0 26.116C0-13.028 34.314-.727 55.491 15.172"
          ></path></svg
        >
      </a>
      <a href="https://github.com/FlexWilliams" target="_blank">
        <span class="sr-only">My GitHub</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    display: flex;
    align-items: center;
    min-height: 10%;
    max-height: 10%;
    margin: 0;
    padding: 0 1em;
    background-color: #dfdfdf;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
    align-self: baseline;
  }

  span.console-user {
    color: #00afaf;
  }
  span.console-pwd {
    color: #079dfc;
  }
  span.console-date {
    color: #5f5fff;
  }

  span.console-prompt {
    color: #ff8603;
  }

  div.console-cursor {
    width: 0.75em;
    height: 0.125em;
    display: inline-block;
    background-color: #212738;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }

  div.blink-smooth {
    animation: blink_smooth 1.25s infinite;
  }

  @keyframes blink_smooth {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
